<style>

</style>
<h2>CREATE RECIPE</h2>
<br>

<h3>PICK INGREDIENTS</h3>
<%= form_for @rec do |f| %>
<br> <p>
  <%= f.collection_check_boxes :ingredient_ids, current_user.ingredients, :id, :name%>
<br>
<br> <h4>OR ADD NEW INGREDIENT:</h4>
    <%= f.text_field :ingredient_name %>
</p>
<%= f.submit "DONE" %>
<% end %>
