<style>
    #container-left:hover{
      background-size: cover;
      color: white;
      font-size: 5vw;
    }
    #container-left{
      width: 45vw;
      height: 45vw;
      text-align: center;
      background-size: cover;
      font-size: 4vw;
      color: white;
      margin-right: 1.66vw;
      line-height: 45vw;
      font-size:4vw;
      color: black;
      font-family: 'Helvetica', sans-serif;
      font-weight: 900;
      letter-spacing: -3px;
    }
    #container-right:hover {
      background-size: cover;
      color: white;
      font-size: 5vw;
    }
    #container-right{
      background-size: cover;
      font-size: 4vw;
      color: black;
      line-height: 45vw;
      margin-left: 1.66vw;
      width: 45vw;
      height: 45vw;
      text-align: center;
      font-family: 'Helvetica', sans-serif;
      font-weight: 900;
      letter-spacing: -3px;
    }
    .vertical-center {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: row;
      text-align: center;
      align-items: center;
    }
</style>
<h1>Your Pantry</h1>
  <h3> &nbsp; | &nbsp; <% current_user.ingredients.each do |i| %>
    <%= link_to "#{i.name.upcase}", ingredient_path(i) %> &nbsp; | &nbsp;
  <%  end%> </h3>

<div class="vertical-center">
    <a href= <%=new_ingredient_path%>>
      <div id="container-left">
       ADD ITEM
      </div>
    </a>
    <a href= <%=recipes_new_path%>>
      <div id="container-right">
        CREATE RECIPE
      </div>
    </a>
</div>
    <br>
    <h2><%= link_to "LOGOUT", logout_path, method: :post %></h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
