<style>

</style>
<h1>Your Pantry</h1>

  <h3>  <% current_user.ingredients.each do |i| %>
    <%= link_to "#{i.name.upcase}", user_ingredient_path(current_user, i) %> &nbsp; | &nbsp;
  <%  end%> </h3>

<div class="vertical-center">
    <a href= <%=new_user_ingredient_path%>>
      <div id="container-left">
       ADD ITEM
      </div>
    </a>
    <a href= <%=recipes_new_path%>>
      <div id="container-right">
        CREATE RECIPE
      </div>
    </a>
</div>
    <br>
    <h2><%= link_to "LOGOUT", logout_path, method: :post %></h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
