<style>

</style>
<h2>ADD ITEM TO PANTRY</h2>
<br>

    <div id="vertical-center">
      <div id="container">
<%= form_for @ingred do |f| %>
<br>
<br>
<%= f.text_field :name, placeholder: "name" %>
<br>
<br>
<%= f.text_field :quantity, placeholder: "quantity" %>
<br>
<br>
<%= f.submit "ADD" %>
<% end %>
</div>
</div>
