<style>
  #container-center:hover{
    background-size: cover;
    color: white;
    font-size: 3.5vw;
  }
  #container-center{
    width: 40vw;
    height: 40vw;
    text-align: center;
    background-size: cover;
    font-size: 4vw;
    color: white;
    margin-right: 1.66vw;
    line-height: 45vw;
    font-size:3vw;
    color: black;
    font-family: 'Helvetica', sans-serif;
    font-weight: 900;
    letter-spacing: -3px;
  }
</style>
<h1>GASTRONOME</h1>
<%= link_to "RECIPES", all_recipes_path, class: 'recipe' %>

<div class="vertical-center">
  <div id="container-center">
  &nbsp; | &nbsp;   <a href= <%=new_user_path%>>
       SIGN UP
     </a> &nbsp; | &nbsp;
      <a href= <%=login_path%>>
        LOG IN
      </a> &nbsp; | &nbsp;
    </div>
    </div>
    <br>
